extends layout

block variables
  - var title = "Scraper"

block content
    .section
        .section__inner
            .container
                h1.text-center.mt-5.pt-5  404 Page Not Found!
                img(src="/images/sad.png", alt="404 sad" style="height:350px;  display: block; margin-left: auto; margin-right: auto;")
                
