<div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img class="pl-2"src="/images/bolslider.jpg" height="100" width="250" alt="Bol.com slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/gitslider.png" height="100" width="250" alt="Github slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/coolblueslider.png" height="100" width="250" alt="Coolblue slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/telenetslider.png" height="100" width="250" alt="Telenet slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/oceanslider.png" height="100" width="250" alt="DigitalOcean Slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/bolslider.jpg" height="100" width="250" alt="Bol.com slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/gitslider.png" height="100" width="250" alt="Github slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/coolblueslider.png" height="100" width="250" alt="Coolblue slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/telenetslider.png" height="100" width="250" alt="Telenet slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/oceanslider.png" height="100" width="250" alt="DigitalOcean Slider" style="object-fit: cover;" />
            </div><div class="slide">
                <img class="pl-2"src="/images/bolslider.jpg" height="100" width="250" alt="Bol.com slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/gitslider.png" height="100" width="250" alt="Github slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/coolblueslider.png" height="100" width="250" alt="Coolblue slider" style="object-fit: cover;" />
            </div>
            <div class="slide">
                <img class="pl-2"src="/images/telenetslider.png" height="100" width="250" alt="Telenet slider" style="object-fit: cover;" />
            </div>
        </div>
    </div>