extends layout

block variables
  - var title = "Dashboard"

block content
  

  .section
    .section__inner
      h2.text-center.pt-5 Dashboard
      div
        | Welcome to your dashboard page, #{user.username}.  
        br
        | You'll find your added products here, manage your information and retrieve your invoices.