extends layout

block variables
  - var title = "Dashboard"

block content
  h2.text-center Dashboard

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center
        | Welcome to your dashboard page, #{user.profile.firstName}.  
        br
        if code
          | Your code is #{code}.
          br
          | You can use this to post to /scraper/#{code} to save your logs!
          br 
          a(href="/scraper/paths") All of your paths
        else
          a(href="/scraper/generate") Generate your code