extends layout

block variables
  - var title = "Dashboard"

block content
  

  .section
    .section__inner
      h2.text-center.pt-5 Dashboard
      div
        | Welcome to your dashboard page, #{user.username}.  
        br
        if code
          | Your code is 
          br
          div(class="tltip")
            input(type="text" value=code id="code" onclick="copy(this);" onmouseout="outFunc()")
            span(class="tooltiptext" id="myTooltip")
              | Copy to clipboard
          br
          | You can use the chrome extension and the code to send your paths to this website!
          br 
          a(href="/scraper/paths") All of your paths
        else
          a(href="/scraper/generate") Generate your code
  .fixheight(style="margin-top:200px;")
  script.
    function copy(element){
      element.select();
      document.execCommand("copy");
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copied: " + element.value;
    }
    function outFunc() {
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copy to clipboard";
    }