extends layout

block variables
  - var title = "Home"

block content
  h2.text-center BillBoard
  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to the BillBoard! This is your portal to your peronalized scraping