extends layout

block variables
  - var title = "Home"

block content
  .hero.section
    .hero__inner
      .hero__slide(style="background-image: url('/images/trianglify.png'); width: 1903px; position: relative; left: 0px; top: 0px; z-index: -1; opacity: 1;")
        .section__inner
          .hero__content
            h1.heading.size-l.weight-700.spacing-xs Billboard
            p.paragraph.size-l.spacing-l Welcome to the BillBoard! This is your portal to your peronalized scraping
  .overlay
    .section(style="padding-bottom: 40px")
      .section__inner
        .showcase
          p.paragraph.size-l.spacing-l.case A single platform, all your invoices
          include carousel.html

  



  //div(id="particles-js") 
  //script( src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js")
  //script
    | particlesJS.load('particles-js', '/particles.json', function() {
    |  console.log('callback - particles-js config loaded');
    | });