extends layout

block variables
  - var title = "Home"

block content
  .hero.section
    .hero__inner
      .hero__slide(style="background-image: url('/images/trianglify.png'); width: 100%; position: relative; left: 0px; top: 0px; z-index: -1; opacity: 1;")
        .section__inner
          .hero__content
            h1.heading.size-l.weight-700.spacing-xs Billboard
            p.paragraph.size-l.spacing-l Welcome to the BillBoard! This is your portal to your peronalized scraping
  .overlay
    .section(style="padding-bottom: 40px")
      .section__inner
        .showcase
          p.paragraph.size-l.spacing-l.case A single platform, all your invoices
          include carousel.html
  .section
    .section__inner.pb-5
      .video.mb-5
        p.paragraph.size-l.spacing-l.case.mb-3.strong So, how does it work?
        .mt-5
          | <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .rightexplain.mobhide
        img(src="https://cdn0.iconfinder.com/data/icons/gray-business-toolbar/512/invoice.svg-512.png")
      .leftexplain
        p Lorem ipsum dolor sit <strong>amet</strong>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <strong>aliqua</strong>. Ut enim ad minim <strong>veniam</strong>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <strong>reprehenderit</strong> in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .hero.section
    .hero__inner
      .hero__slide.how(style="background-image: url('/images/subsec.png'); width: 100%; position: relative; left: 0px; top: 0px; z-index: -1; opacity: 1;")
        .section__inner
          .how.row
            p.paragraph.size-l.spacing-l.mb-3.strong.col-xs-12.col-md-6.col-md-push-2 Getting started is incredibly easy!
            .col-xs-12.col-md-6.col-md-push-2
              .list
                ul
                  li Je stuurt je documenten door zodra je ze ontvangt. Dat kan via <strong>e-mail</strong>, <strong>upload</strong> of met je <strong>smartphone</strong>
                  li Je stuurt je documenten door zodra je ze ontvangt. Dat kan via <strong>e-mail</strong>, <strong>upload</strong> of met je <strong>smartphone</strong>
                  li Je stuurt je documenten door zodra je ze ontvangt. Dat kan via <strong>e-mail</strong>, <strong>upload</strong> of met je <strong>smartphone</strong>
                  li Je stuurt je documenten door zodra je ze ontvangt. Dat kan via <strong>e-mail</strong>, <strong>upload</strong> of met je <strong>smartphone</strong>
                  li Je stuurt je documenten door zodra je ze ontvangt. Dat kan via <strong>e-mail</strong>, <strong>upload</strong> of met je <strong>smartphone</strong>
                  li Je stuurt je documenten door zodra je ze ontvangt. Dat kan via <strong>e-mail</strong>, <strong>upload</strong> of met je <strong>smartphone</strong>
  .section.pt-5
    .section__inner.testimonial__inner
      .testimonials
        include testimonials.html
  



  //div(id="particles-js") 
  //script( src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js")
  //script
    | particlesJS.load('particles-js', '/particles.json', function() {
    |  console.log('callback - particles-js config loaded');
    | });