block variables

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/app.css")
    title BillBoard: #{title}
  body
    #wrapper
      .wrapper__inner
        #navigation.section
          .navigation__inner.section__inner
            a(href="/").navigation__logo.pt-2
              img(src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo1.png")
            .navigation__list
              .navigation__main
                ul
                  li
                    a.p-2.text-dark(href="/", title="Home") Home

                  if session['userId'] == undefined
                    li
                      a.p-2.text-dark(href="/users/login") Log In
                    li
                      a.p-2.text-dark(href="/users/register") Register
                  else
                    li 
                      a.p-2.text-dark(href="/dashboard") Dashboard
                    li
                      a.p-2.text-dark(href="/marketplace") Marketplace
                    if admin
                      li
                        a.p-2.text-dark(href="/marketplace/manage") Manage
                    li
                      a.p-2.text-dark(href="/scraper") DIY
                    
                    li
                      a.p-2.text-dark(href="/users/logout") Logout
            



        
        //div.top-bar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow.justify-content-around(style="position:fixed; top:0;left:0; width:100%")
          div
            h5.my-0.mr-md-auto.font-weight-normal
              a(href="/", title="Expresso") Billboard
          nav.my-2.my-md-0.mr-md-3
            a.p-2.text-dark(href="/", title="Home") Home

            if user == undefined
              a.p-2.text-dark(href="/users/login") Log In / Register
            else
              a.p-2.text-dark(href="/dashboard") Dashboard
              a.p-2.text-dark(href="/marketplace") Marketplace
              if admin
                a.p-2.text-dark(href="/marketplace/manage") Manage
              a.p-2.text-dark(href="/scraper") DIY
              
              a.p-2.text-dark(href="/users/logout") Logout

            
        .main
          block content
        footer(style="margin-top:auto;")
          .footer.section
            .footer__inner.section__inner
              .footer__top
                .footer__main
              .footer__links
                .row
                  .col-xs-12.col-sm-6
                    h4.footer_linkTitle Nuttige links
                    ul
                      li
                        a(href="/") Placeholder
                      li
                        a(href="/") Placeholder
                  .col-xs-12.col-sm-6
                    h4.footer_linkTitle Volg ons!
                    ul
                      li
                        a(href="/") Placeholder
                      li
                        a(href="/") Placeholder
              .footer__bottom
                .footer__legal
                  ul
                      li
                        | Built with #[a(href="https://expressjs.com/") Express.js].
                      li
                        | Placeholder
                .footer__social
                  ul
                    li
                      | <a href="https://www.facebook.com/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 56.7 56.7"><path d="M42.5.4v9h-5.2c-1.9 0-3.1.4-3.8 1.2s-1 2-1 3.7v6.4h9.6l-1.3 10.1h-8.3v25.9h-10V30.8h-8.4V20.7h8.4v-7.4c0-4.2 1.1-7.5 3.4-9.8S31.3 0 35 0c3.3 0 5.8.1 7.5.4z"></path></svg></a>






