extends layout

block variables
  - var title = "Manage items"

block content
  h2.text-center Manage marketplace
  .row.ml-5
    a(href="/marketplace/manage/add")
        .btn.btn-success Add platform to marketplace
 







