extends layout

block variables
  - var title = "Manage items"

block content
  .section
    .section__inner.pt-5
      h2.text-center Manage marketplace
      a(href="/marketplace/manage/add")
        .btn.btn-success Add platform to marketplace
    







