extends layout

block variables
  - var title = "Marketplace"

block content
  h2.text-center Marketplace
  .row.ml-5
    .card.ml-5.mb-5
        img(src="http://puu.sh/D8Yww/703e7eec56.jpg")
        .container
            h4 DigitalOcean
    .card.ml-5.mb-5
        img(src="http://puu.sh/D8Yww/703e7eec56.jpg")
        .container
            h4 DigitalOcean
    .card.ml-5.mb-5
        img(src="http://puu.sh/D8Yww/703e7eec56.jpg")
        .container
            h4 DigitalOcean
    .card.ml-5.mb-5
        img(src="http://puu.sh/D8Yww/703e7eec56.jpg")
        .container
            h4 DigitalOcean
    .card.ml-5.mb-5
        img(src="http://puu.sh/D8Yww/703e7eec56.jpg")
        .container
            h4 DigitalOcean
    .card.ml-5.mb-5
        img(src="http://puu.sh/D8Yww/703e7eec56.jpg")
        .container
            h4 DigitalOcean
    .card.ml-5.mb-5
        img(src="http://puu.sh/D8Yww/703e7eec56.jpg")
        .container
            h4 DigitalOcean
    .card.ml-5.mb-5
        img(src="http://puu.sh/D8Yww/703e7eec56.jpg")
        .container
            h4 DigitalOcean
    .card.ml-5.mb-5
        img(src="http://puu.sh/D8Yww/703e7eec56.jpg")
        .container
            h4 DigitalOcean








