extends layout

block variables
  - var title = "Marketplace"

block content
  
  .section
    .section__inner
        h2.pt-5.text-center Marketplace
        .row
            each platform in platforms
              .col-sm-3
                a(href='/marketplace/product/' + platform.name)
                    .card.mb-5
                        img.card-img-top(src=platform.image)
                        .card-body
                            .card-text
                                h4 #{platform.name}
            
                        


