extends layout

block variables
  - var title = "Paths"

block content
  

  .section
    .section__inner
      h2.text-center Paths
      .jumbotron.text-center
        each val in paths
          pre(style="color:#FFF; text-align:left;") #{val}
          a(href='/scraper/paths/' + val._id) Use this path!