extends layout

block variables
  - var title = "Marketplace"

block content
  
  .section
    .section__inner
        h2.pt-5.text-center #{platform.name}
        .marketplace.mt-5.pt-5
  
            img.rightexplain.mobhide(src=platform.image style="height:250px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 15px")
            p.leftexplain(style="height:250px") #{platform.description}
            if session['userId'] == undefined
              p.
                You can easily get your invoices from <strong>#{platform.name}</strong> by #[a(href="/users/register", title="Register") registering] an account or  #[a(href="/users/login", title="Login") logging in]!

            else
              hr
              p To add this platform to your dashboard, simply fill in your information for the platform in the following fields:
              form(action="/marketplace/product/" + platform.name , method="POST")
                input(type="text" name="username" placeholder="Username for platform" required).mb-3.pl-2
                br
                input(type="password" name="password" placeholder="Password for platform" required).mb-3.pl-2
                br
                p This will be your personal encryption key. 
                p Think of this as a secondary password. Make sure to remember it as you'll be asked it whenever you try to gather your invoices
                input(type="password" name="encryptionkey" placeholder="Encryption key" required).mb-3.pl-2
                br
                input(type="submit" value="Add this to my dashboard").btn.btn-success
                        


