extends layout

block variables
  - var title = "Unauthenticated"

block content
  .section
    .section__inner
      h2.text-center(style="margin-top:150px;") Uh oh, you shouldn't be here!
      p.text-center.
        You must be signed in to view this page. Please #[a(href="/users/login", title="Login") login] or #[a(href="/users/register", title="Register") register]  to view this page.
      .fixheight(style="margin-top:200px;")
  