body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../img/backdrop.png');
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position-y: -350px;
}
.webpage{
  float:right;
  height: 350px;
  margin-right: -225px;
}
a {
  color: #00B7FF;
}
h1 {
  color: #FFFFFF !important;
  font-size: 2.7rem !important;
}
.strong {
  font-weight: bolder;
}
.topper{
  margin-top: 50px;
  margin-left: 350px !important;
  height: 25vh;
}
.formbox{
  border: 2px solid #033;
  border-radius: 10px;
  box-shadow: #000;
  margin-top: 150px;
}